/* @override 
	http://beta.cornishmemory.com/themes/cornishmemory/css/cornishmemory-override.css */

/* Add cornishmemory.com logo to banner */
/* div.logo {
	height: 90px;
	background: url(/cm-images/cm-logo.png) 0 no-repeat;
	background-size: 90px 90px;
} */

/* Remove logo on small screens to prevent overlap */
@media (max-width: 600px) {
	div.logo {
		background: none;
	}
}
/* Set Helvetica / sans-serif font for cornishmemory.com title */
header {
  height: 100px !important;
}

header .branding h1 a {
        font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        color: white;
        font-size: 4rem;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.80);
        transition: 0.5s all; }
		
#home header {
		    height: 100px !important; }
		    @media (max-width: 767px) {
		      #home header {
		        height: 100px !important; } }
					  
nav.navbar {
				    margin-bottom: 0;
				    border-radius: 0;
				    border: none;
				    background: url(/cm-images/cm-logo.png) no-repeat #2a2929 !important;
	background-size: 90px 90px !important;
	min-height: 90px !important;
	padding-top: 25px !important;
				  	padding-left: 80px !important;
				  }
    
nav.navbar .navbar-nav > li > a {
				      padding-top: 10px;
				      padding-bottom: 10px;
				      color: #c8c8c8 !important;
				      font-size: 1.7rem !important;
				    }

nav.navbar .navbar-nav > li > a .glyphicon-search {
				        font-size: 1.7rem !important;
				        margin-right: 5px; }
				  
.correctionsform {
						margin-top: 20px;
					}

video {
					width: 100%;	
					}
					

#item-tags div.element-text {
	color: #ffffff;
	margin-top: 10px;
}

#item-tags div.element-text a {
	background-color: #000000;
	padding: 5px 10px;
	color: #ffffff;
}

div.correctionspage {
	background-color: #ffffff;
	padding-left: 35px;
	padding-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Fix vertical cropping of item show image */
#image-gallery > li.image-large {
  width: 100%;
  max-height: 100% !important;
  margin-bottom: 20px; }
  
  img#audioplaceholder {
  	width: 100%;
  }
  
  ul#show-item-av {
  	list-style: none;
	padding-left: 0;
  }
  
  #show-item-av li audio {
  	width: 100%;
  }
  
#av-instructions span.glyphicon.glyphicon-hand-up {
  	padding-right: 5px;
  	font-size: 1em;
  }
  
  
  p#av-instructions {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #848484;
	margin-top: 5px;
}

 .featured .maptitle {
   position: absolute;
   bottom: 56px;
   text-align: center;
   width: 100%;
   z-index: 5;
   color: white;
   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
   font-family: "Gentium Basic", serif;
   font-size: 2.4rem;
   line-height: 2.7rem;
   font-weight: 400;
 }
 
.maptitle #search-form {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}


.maptitle input#query.form-control {
	text-align: center;
}

#search-results tbody tr td a.searchimage img.gallery {
	width: 100px;
}

/* Citation Styles */

span.citation-url {
	font: 1em "Open Sans", "Helvetica Neue", sans-serif;
	word-wrap: break-word;
}

/* Grey h6 */

html h6, body h6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #bdbdbd; }
  
  
  
  /* Search Overlay Styles */
  div#search-overlay #query {
  	background-color: #ffffff !important;
  	border-style: solid;
  	margin-bottom: 20px;
  }
  
  #search-overlay div.container span.glyphicon.glyphicon-search {
  	margin-left: 5px;
  }
  
  /* Homepage icons */
  #home div.wrapper div.content div.homepage-about div.container div.row div.col-sm-12 div.content-block.extra-padding p span.fa {
  	margin-left: 15px;
  	margin-right: 5px;
  }
  
  /* Gradient background */
  div.content {
  	background: -webkit-linear-gradient(top, #c4d9d8 0%, #dff1f1 100%) #ffffff;
  	background: -moz-linear-gradient(top, #c4d9d8 0%, #dff1f1 100%) #ffffff;
  	background: -ms-linear-gradient(top, #c4d9d8 0%, #dff1f1 100%) #ffffff;
  	background: linear-gradient(to bottom, #c4d9d8 0%, #dff1f1 100%) #ffffff;
  }
  
  /* Revove header image */
  header {
  	background-image: none !important;
  	background-color: #c4d9d8;
  }
  