/* @override http://beta.cornishmemory.com/themes/cornishmemory/css/cornishmemory-override.css */

/* @override 
	http://beta.cornishmemory.com/themes/cornishmemory/css/cornishmemory-override.css */

/* Add cornishmemory.com logo to banner */
/* div.logo {
	height: 90px;
	background: url(/cm-images/cm-logo.png) 0 no-repeat;
	background-size: 90px 90px;
} */

/* Remove logo on small screens to prevent overlap */
@media (max-width: 600px) {
	div.logo {
		background: none;
	}
}
/* Set Helvetica / sans-serif font for cornishmemory.com title */
header {
  height: 100px !important;
}

header .branding h1 a {
        font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        color: white;
        font-size: 4rem;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.80);
        transition: 0.5s all; }
		
#home header {
		    height: 100px !important; }
		    @media (max-width: 767px) {
		      #home header {
		        height: 100px !important; } }

nav.navbar {
				    margin-bottom: 0;
				    border-radius: 0;
				    border: none;
				    background: url(/cm-images/cm-logo.png) no-repeat #ffffff !important;
	background-size: 90px 90px !important;
	min-height: 90px !important;
					padding-top: 25px !important;
				  	padding-left: 80px !important;
	-moz-box-shadow: 0 1px 2px black;
	box-shadow: 0 1px 2px black;
}

/* Navbar mobile icons */

button.navbar-toggle {
	background-color: #88cecc;
}

a.search-overlay-button.navbar-toggle {
	background-color: #88cecc;
}

.navbar-collapse {
	border-top:  0 !important;
}
    
/* Navbar Current Page */
nav.navbar .navbar-nav > li.active > a, nav.navbar .navbar-nav > li:hover > a {
  background: #88cecc;
  color: #ffffff !important; }
 
 /* Navbar Hover */
  nav.navbar .navbar-nav > li.active > a:hover, nav.navbar .navbar-nav > li:hover > a:hover {
    background: #88cecc;
    color: white; }    
    
nav.navbar .navbar-nav > li > a {
				      padding-top: 10px;
				      padding-bottom: 10px;
				      color: #676767 !important;
				      font-size: 1.7rem !important;
				    }

nav.navbar .navbar-nav > li > a .glyphicon-search {
				        font-size: 1.7rem !important;
				        margin-right: 5px; }
				  
.correctionsform {
						margin-top: 20px;
					}
/* Homepage */					

.welcomebox {
	background-color: #ffffff;
	padding-top: 20px;
}

.welcomebox p {
	text-align: center;
}

.welcomebox h6 {
	text-align: center;
	margin-top: 20px;
}

.welcomebox img {
	height: 50px;
	margin-right: 30px;
}

.welcomeboxicons {
	font-size: 1.8em;
	margin-top: 20px;
}

.homepageitemtotal {
	font-size: 2em;
}

.content .content-block {
  background: rgb(252, 252, 252) !important;
  top: -45px;
  position: relative;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.0);
  margin-bottom: 25px; }
  
/*  div.itemshow {
  	background-color: #ffffff;
  }		
  				 */	
/* Media Styles */
video {
	width: 75%;
	margin-bottom: 2%;
}

@media (max-width: 767px) {
	video {
		margin-bottom: 2% ;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px ) {
	video {
		margin-bottom: 2% ;
		width: 100%;
	}
}

img#audioplaceholder {
	width: 100%;
}

audio {
	width: 100%;
	margin-bottom: 2%;
}				

/* Tags */

#item-tags div.element-text {
	color: #ffffff;
	margin-top: 10px;
}

#item-tags div.element-text a {
	background-color: #bcbdbc;
	padding: 5px;
	color: #ffffff;
	margin-bottom: 5px;
	float: none;
	display: inline-block;
	border-radius: 5px;
}

/* Corrections and Amendments Page */

div.correctionspage {
	background-color: #ffffff;
	padding-left: 35px;
	padding-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Fix vertical cropping of item show image */
#image-gallery > li.image-large {
  width: 100%;
  max-height: 100% !important;
  margin-bottom: 15px; }
  
 
  
  ul#show-item-av {
  	list-style: none;
	padding-left: 0;
  }
  
  #show-item-av li audio {
  	width: 100%;
  }
  
#av-instructions span.glyphicon.glyphicon-hand-up {
  	padding-right: 5px;
  	font-size: 1em;
  }
  
  
  p#av-instructions {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #848484;
	margin-top: 5px;
}

 .featured .maptitle {
   position: absolute;
   bottom: 56px;
   text-align: center;
   width: 100%;
   z-index: 5;
   color: white;
   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
   font-family: "Gentium Basic", serif;
   font-size: 2.4rem;
   line-height: 2.7rem;
   font-weight: 400;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 1;
   padding-top: 15px;
 }
 
.maptitle #search-form {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}


.maptitle input#query.form-control {
	text-align: center;
}

#search-results tbody tr td a.searchimage img.gallery {
	width: 100px;
}

/* Citation Styles */

span.citation-url {
	font: 1em "Open Sans", "Helvetica Neue", sans-serif;
	word-wrap: break-word;
}

/* Grey h6 */

html h6, body h6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #bdbdbd; }
  
  
  
  /* Search Overlay Styles */
  div#search-overlay #query {
  	background-color: #ffffff !important;
  	border-style: solid;
  	margin-bottom: 20px;
  }
  
  #search-overlay div.container span.glyphicon.glyphicon-search {
  	margin-left: 5px;
  }
  
  #search-overlay {
    background: rgba(226, 226, 226, 0.9);
  	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    padding-top: 40px; }
	
	#search-omeka-container p {
		font-weight: bold;
		font-size: 1.5em;
	}
	
	#search-overlay .glyphicon-search {
      background: none;
      font-size: 2.8rem;
      color: #a7a69b;
      border: none;
      position: absolute;
      margin-left: 10px !important;
	}
  
  
  /* Homepage icons */
  #home div.wrapper div.content div.homepage-about div.container div.row div.col-sm-12 div.content-block.extra-padding p span.fa {
  	margin-left: 15px;
  	margin-right: 5px;
  }
  
  /* Gradient background */
  div.content {
  	background: -webkit-linear-gradient(top, #f1f1f1 0%, #cfcfcf 100%) #ffffff;
  	background: -moz-linear-gradient(top, #f1f1f1 0%, #cfcfcf 100%) #ffffff;
  	background: -ms-linear-gradient(top, #f1f1f1 0%, #cfcfcf 100%) #ffffff;
  	background: linear-gradient(to bottom, #f1f1f1 0%, #cfcfcf 100%) #ffffff;
  }
 
    
    /* Revove header image */
  header {
  	background-image: none !important;
  	background-color: #f1f1f1;
  }
  
  /* Search link on main menu */
  .navbar-right {
  	margin-right: 5% !important;
  }
  
  /* Homepage Image Boxes */
  .featured:hover .overlay {
    opacity: 0.5; }
    
    .featured .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 0.0s !important;
      z-index: 4;
	}

.featured .img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
  background-size: 125%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.0) inset; }
  
  .featured .img:before {
    content: '';
    border: 0px solid white;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px; }
  

/* Featured box sub-title */	
div.content-block.less-padding.min-height .header-label {
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 1;
		padding-top: 5px;
		padding-bottom: 6px;
	}
	
/* h6 in featured boxes */
.featured .title {
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 1;
		padding-top: 5px;
}

  
  #home div.wrapper div.content div.homepage-about div.container div.row div.col-sm-12 div.content-block.extra-padding p a {
  	font-size: 0.8em;
  }
  
  h5.header-label {
  	color: #3a3a3a !important;
  }
  
  /* Featured Items */
  .items-list .item a .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.0s;
    z-index: 4; }
  .items-list .item a .img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
    background-size: 125%;
  	background-repeat: no-repeat;
  	background-position: center center;
  	box-shadow: 0 0 00px rgba(0, 0, 0, 0.75) inset;
  	background-color: #eaeaea;
  }
    .items-list .item a .img:before {
      content: '';
      border: 5px solid #cccccc;
      position: absolute;
		bottom: 0;
      left: 0;
      right: 0;
      z-index: 9;
		top: 0;
	}
  .items-list .item a .title {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    z-index: 5;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    font-family: "Gentium Basic", serif;
    font-size: 2.4rem;
    line-height: 2.7rem;
    font-weight: 400;
    pointer-events: none;
    opacity: 0;
    transition: all 0.0s; }
  
  .items-list .slick-prev {
    left: -25px; }
  
  .items-list .slick-next {
    right: -25px; }
  
  .items-list .item a:hover .overlay {
    opacity: 0.5;
  }
  
 /* Item Show Page */

/* Large image hover */ 
#image-gallery > li:hover {
   opacity: 1; }
#image-gallery > li {
     opacity: 1;
     transition: all 0s !important;
     cursor: pointer; }
 
 /* Item Navigation - previous/next buttons */
 
 div.itemshow ul.pager {
 	width: 94%;
 	margin-right: auto;
 }